[workspace]

members = [
    "common",
    "era-compiler-downloader",
]
resolver = "2"

[workspace.package]
authors = [
    "Oleksandr Zarudnyi <a.zarudnyy@matterlabs.dev>",
]
license = "MIT OR Apache-2.0"
edition = "2021"
